.article-graphic.FeverLine {
	margin-bottom:1em;
}

.graphichead {font-family:$sansSerifStrong; font-size:1.2em;}
.subtitle {font-family:$sansSerif; font-size:0.9em; margin-top:-1em;}
.highcharts-button {display:none;}
.datett {font-family: $sansSerif; font-weight: lighter; }
.valuett {font-family: $sansSerifStrong;}
.seriesname {font-family: $sansSerif; font-size:0.85em; text-transform:uppercase; }
table {margin:0;}

#key {width:100%; float:left;}
	.keyel {display:inline; float:left; margin-right:0.9em;}
		.keysq {display:inline; float:left; margin-right:0.5em; border-top:3px solid #999; width:15px; margin-top:0.5em;}
		.keytxt {display:inline; float:left; font-family: $sansSerif; font-weight:lighter; font-size:0.8em; text-transform: uppercase;}
			.color0 {border-top:3px solid rgba(220,105,81,1);}
			.color1 {border-top:3px solid rgba(244, 148, 87, 1);}
			.color2 {border-top:3px solid rgba(250, 186, 84, 1);}
			.color3 {border-top:3px solid rgba(227, 225, 214, 1);}
			.color4 {border-top:3px solid rgba(181, 153, 125, 1);}

@media only screen and (max-width: 600px) {
	.graphichead {font-family:$sansSerif; font-weight:bold;}
}