.article-graphic.NextNext {
	margin-bottom:1em;
	.graphichead {font-family:$sansSerifStrong; font-size:1.2em;}
	.subtitle {font-family:$sansSerif; font-size:0.9em; margin-top:-1em;}

	#content {position:relative;}
	.minihead{text-align:center;float:left;width:100%;font-family:"Miller Headline Bold",georgia,Serif;font-size:25px;margin-bottom:.1em}
	#head{width:100%;float:left;padding:10px;margin-bottom:15px;padding-top:25px}
	#central{width:20%;float:left;margin:0 2.5%;display:inline}
	.ball{background:rgba(237, 236, 228, 1);display:inline;float:left}
	.ball:hover{background:rgba(223, 195, 182, 1);cursor:pointer}
	.select{background:rgba(234, 33, 45, 1);}
	.arrow{width:37.5%;font-family:"Miller Headline Bold",georgia,Serif;font-size:25px;padding:0 10px;display:inline;float:left;margin-top:-10px}
	.arrow:hover{color:rgba(0,0,0,.3); cursor:pointer}
	#prev{text-align:right}
	#date{float:left;width:100%;text-align:center;margin-bottom:1em;font-family:"Benton Sans Bold",Helvetica,Arial,sans-serif}
	#body{float:left;text-align:center;width:50%;margin:0 25%;margin-bottom:2em; font-family: $serifStrong;}
	#image{float:left;text-align:center;width:50%;margin:0 25%;margin-bottom:2em}
	img {width:100%;}

	.stretch:after{content:".";display:block;height:0;clear:both;visibility:hidden}
	.stretch{display:inline-block}
	.stretch{display:block}
	* html .stretch{height:1px}

	#tag {position:absolute; font-family: $sansSerif; font-size: 0.8em; padding: 0.5em; background:#FFF; border:1px solid #EEE;
	-moz-box-shadow:    0px 0px 2px 2px rgba(0,0,0,.1);
 	 -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
 	 box-shadow:         0px 0px 2px 2px rgba(0,0,0,.1);
 	}
}

@media only screen and (max-width: 600px) {
	.graphichead {font-family:$sansSerif; font-weight:bold;}
	#date{font-family:$sansSerif; font-weight:bold;}
	#central{width:50%!important;}
	.arrow{width:25%!important;}
	#body{width:100%!important;margin:0!important; margin-bottom:1em!important;}
	#image{width:100%!important;margin:0!important; margin-bottom:2em!important;}
}